@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}


.home_section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 80vh;
    padding: 4vh 7vw;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_contact_link {
    height: 5vh;
    padding: 0.75ch 1.5vw;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3 ease;
}

.nav_contact_link:hover {
    background-color: white;
    color: black;
}

.sub_hero_text {
    display: flex;
    justify-content: flex-end;
    font-size: 3vw;
    font-weight: 400;
}

.sub_hero_text p {
    width: 35vw;
    margin-top: 5vh;
}

.hero_text {
    font-family: "Anton", sans-serif;
    font-size: 100px;
    line-height: 1;
    text-transform: uppercase;
}

.scroll_btn {
    position: absolute;
    bottom: 2vh;
    right: 3vh;
}

.contact_section{
    width: 100vw;
    height: 70vh;
    position: relative;
}

.contact_section span{
    position: absolute;
    cursor: pointer;
}

.contact_section span:nth-child(1){
    top: 10%;
    padding: 5vh 2vw;
    font-family: "Anton", sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
}

.contact_section span:nth-child(2){
    top: 40%;
    transform: translate(50%, -50%);
    border: 1px solid white;
    padding: 1vw 1.5vw;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_section span:nth-child(3){
    top: 55%;
    transform: translate(50%, -50%);
    border: 1px solid white;
    padding: 1vw 1.5vw;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_section span:nth-child(4){
    top: 70%;
    transform: translate(50%, -50%);
    border: 1px solid white;
    padding: 1vw 1.5vw;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_section span:nth-child(5){
    top: 85%;
    transform: translate(50%, -50%);
    border: 1px solid white;
    padding: 1vw 1.5vw;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_section span:nth-child(6){
    top: 100%;
    transform: translate(50%, -50%);
    border: 1px solid white;
    padding: 1vw 1.5vw;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_section span:nth-child(6):hover{
    background-color: white;
    color: black;
}

.contact_section span:nth-child(2):hover{
    background-color: white;
    color: black;
}

.contact_section span:nth-child(3):hover{
    background-color: white;
    color: black;
}

.contact_section span:nth-child(4):hover{
    background-color: white;
    color: black;
}

.contact_section span:nth-child(5):hover{
    background-color: white;
    color: black;
}

.footer{
    width: 100vw;
    height: 30vh;
    padding: 0 10vw;
    display: grid;
    grid-template-columns: 10vw 10vw 5vw 5vw;
    gap: 12.5vw;
    align-items: center;
    font-size: 2vw;
}

.footer_title{
    font-size: 5vw;
    font-family: "Anton", sans-serif;
    line-height: 1;
}

.footer div{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.footer div span{
    cursor: pointer;
}

.footer div span:hover{
    text-decoration: underline;
}

a {
    text-decoration: none; 
    color: inherit;      
}
